$color1: rgb(255, 202, 104);
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: 
        url('./fonts/Montserrat.ttf') format('woff'); 
    font-style: normal;
	font-family: 'Parisienne';
	src: url('./fonts/Parisienne-Regular.ttf') format('woff');
	font-style: normal;
}

#content {
    color: white;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#content::before {
    content: "";
    position:absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("./img/bg.jpg") no-repeat center;
    background-size: cover;
    background-position-y: 10%;
    filter: brightness(0.7);
}

main {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
}
.main-header {
    font-family: 'Parisienne', sans-serif;
    font-weight: 100;
    color: #c2943d;
    margin-top: 2rem;
}
.main-header-2 {
    margin-top: -2rem;
    color: rgb(54 54 54);
}

.main-content {
    font-size: 1.5rem;
}

.navbar {
    backdrop-filter: blur(5px);
    display: flex;
    width: 100%;
    height: 60px;
    padding: 1.2rem 0;
    border-bottom: 2px solid $color1;
	
    .nav-items {
    width: 100%;
    font-size: 1.2rem;
	display: flex;
    justify-content: center;
    align-items: center;
	list-style: none;
	gap: 4rem;
    }
    li:hover {
        color: $color1;
        cursor: pointer;
        border-bottom: 2px solid $color1;
        margin-bottom: -2px;
    }
}

footer {
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 1.2rem 0;
	border-top: 2px solid $color1;
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    .main-header {
        margin-top: -2rem;
        color: $color1;
    }
    .main-header-2 {
        color: white;
    }
    button {
        font-size: 1.5rem;
        padding: 0.4rem;
        margin-top: 2rem;
        align-content: center;
        width: 7rem;
        background-color: $color1;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color:#c2943d;
    }
    
}

hr {
    border: 2px solid #c2943d;
    width: 250px;
    margin: 2.5rem auto;
}

.white-bg {
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff7e6;
    overflow: scroll;
    
}
.menu-item {
    max-width: 700px;
    .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0.5rem;
    font-weight: 900;
    color: #c2943d;
    }
    .item-description {
        color: rgb(54 54 54);
        font-size: 1.2rem;
        text-align: left;
        
    }
    hr {
    border: 1px solid #c2943d;
    }
    .item-seperator {
        border-top: 2px dashed #c2943d;
        flex-grow: 1;
        margin: 0 2rem;
    }
}
.menu-container:last-child {
    margin-bottom: 4rem;
}

main.contact {
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 2rem;
        font-weight: 900;
    }
    p {
        font-size: 1.4rem;
        width: 60vw;
    }
    ul {
        font-size: 1.4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}